:root, element {
	--yost-navbar-level1-color: white;
	--yost-navbar-active-color: #0d6efd;;
	--yost-navbar-dropdownlink-color: #333;
	--yost-blue: #0f285a;
	--yost-light-blue: #8fbcff;
	--yost-blue2: #133c8e;
	--yost-beige: rgba(197, 178, 78, 1);
	--yost-grayblue: rgba(23,44,91,.741176);
}