.acf-section-split_section {
	padding: 30px 0px;

	.split-section-inner>div {

		h1 {
			color: var(--yost-blue);
		}

		.section-list-item {
			margin-bottom: 25px;
		}
	}

	.split-section-title {
		margin-bottom: 10px;
		padding-bottom: 15px;

		a {
			font-weight: normal;
			font-style: italic;
			color: var(--yost-beige) !important;
			text-decoration: none;
			margin-bottom: 10px;
			display: block;
		}

	}

	&.homepage-split-section {
		.split-section-inner>div:first-child {
			border-right: 2px solid #c5b24e;
		}
		.split-section-inner>div {

			display: flex;
			justify-content: center;
			flex-direction: column;

			h2 {
				font-weight: bold;
			}
		}
	}
}

.acf-section-split_section.sectionstyle-style-dark {
	background: var(--yost-blue);
	color: white;

}

/* FOR DIFFERENT TYPES OF SPLIT SECTION */
.acf-section-split_section {
	.split-section-post-list {
		.post-list-image {
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			width: 250px;
			height: 175px;
			min-width: 250px;
			margin-right: 15px;
		}
		h3 {
			a {
				color: white;
			}
		}
	}


	.split-section-results-list {
		.results-item {
			border-bottom: 1px solid #6a83b5;
			padding-bottom: 15px;
			margin-bottom: 15px;

			&:last-child {
				border-bottom: 0px;
			}
		}
	}

}

/* SPLIT SECTION - LIGHT STYLE */
.acf-section-split_section.sectionstyle-style-light {

	.split-section-title {
		
	}

	.split-section-post-list {

		.post-list-item {
			h3 {
				a {
					color: black;
				}
			}	
		}
	}

	.split-section-results-list {
		.results-item {
			border-bottom: 1px solid var(--yost-beige);

			a {
				color: var(--yost-blue) !important;
			}

			&:last-child {
				border-bottom: 0px;
			}
		}
	}
}




.acf-section-general_text {
	padding: 25px 0px;
}

.acf-section-full_width_callout {
	padding: 25px 0px;
}

.acf-section-title {
	padding: 25px 10vw;

	.divider {
		width: 250px;
		height: 5px;
		margin: 0 auto;
		background-color: var(--yost-beige);
		margin-bottom: 15px;
	}
 }

/* TESTIMONIALS */

.acf-section-testimonials {

	padding: 25px 0px;

	.testimonial-item {

		padding: 0px 10vw;
		
		.testimonial-inner {
			display: flex;
			align-items: center;
			justify-content: center;
			background: #f1f1f1;
			padding: 25px;
			border-radius: 25px;

			.testimonial-left {
				display: flex;
				align-items: center;
				justify-content: center;

				.testimonial-image-container {
					width: 200px;
					height: 200px;
					border-radius: 50%;
					overflow:hidden;
					border: 5px solid var(--yost-beige);

					img {
						width: 100%;
						height: 100%;
					}
				}
			}

			.testimonial-right {
				padding: 0px 5vw 0px 0px;

				.testimonial-content {
					color: #333;
					font-size: 1.5em;
				}
				h3 {
					border-top: 1px solid #f1f1f1;
					padding-top: 10px;
					margin-top: 10px;
					font-size: 1.4em;
					color: var(--yost-blue);
					float:right;
				}
			}
		}
	}
}

/* POST CALLOUT */
.acf-section-post_callout {
	
	height: auto;
	background: #f1f1f1;

	.post-callout-title {
		margin-bottom: 25px;
		color: white;
		padding: 10px 2vw;
		display: flex;
		flex-direction: column;
		background-color: var(--yost-blue2);
		align-items: center;
		justify-content: center;
		box-shadow: 0px 0px 3px #333;

		h3 {
			
			font-weight: bold;
		}
	}

	.news-callout-wrapper {
		
		
	}
	
}

/* RESULTS SLIDER */
.acf-section-results_slider {
	background: transparent url(/wp-content/uploads/2023/11/YOST-GRADIENT_BG_2.png) no-repeat;
	background-size: cover;
	color: white;
	height: auto;
	padding-bottom: 50px;

	.post-callout-title {
		padding: 10px 2vw;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		box-shadow: 0 3px 5px #b2b2b25e;

		h2 {
			font-size: 1.5em;
			padding:0;
			margin:0;
			color: var(--yost-blue);
		}
	}

	.swiper-wrapper {

		align-items: center;

		.swiper-slide {

			.post-callout-inner {
				padding: 0px 2vw;
				color: black;
				display: flex;
				align-items: center;

				.results-card {
					padding: 5vw;

					.results-card-inner {
						border: 1px solid white;
						background: rgba(255,255,255, .25);
						padding: 25px 50px;
						margin-top: -50px;
						z-index: 1;

						h2.results-value {
							font-size: 4em;
							font-weight: bold;
							color: var(--yost-blue);
							padding: 0;
							margin: 0;
						}

						h3 {
							font-size: 1.5em;
							color: black;
						}

						p {
							font-size: .9em;
						}
					}
				}
			
				.results-extra {
					background: var(--yost-blue);
					color: white;
					padding: 25px;
					margin-left: -100px;
					margin-top: 50px;
					box-shadow: -3px -3px 5px #b2b2b25e;
					z-index:2;
				}

			}
		}
	}
	
}




.single-attorney-grid {
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	gap: 15px; 
	height: 100%;

	.attorney-grid-item {
			width: 100%;
			height: 200px;
			display: flex;
			position: relative;
			align-items: flex-end;
			justify-content: center;
			position: relative;
			text-decoration: none;
			transition: .3s all;
			box-sizing: border-box;
			overflow: hidden;

			.attorney-background-img {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: top center;
				width: 100%;
				height: 100%;
				filter: none;
				position: absolute;
				top: 0;
				left:0;
				z-index:0;
				transition: .3s all;
				overflow: hidden;

			}

			.attorney-grid-content {
				z-index: 1;
				background: var(--yost-blue);
				color: white;
				padding: 10px;
				width: 100%;

				.attorney-label {
					text-transform: uppercase;

					h3 {
						color: white;
						font-size: 1em;
						margin: 0px;
						transition: .3 all;
					}
					h4 {
						color: var(--yost-beige);
						font-size: .9em;
						margin: 0px;
						transition: .3 all;
					}
				}

			}

		&:hover {
			
			border: 2px solid var(--yost-beige);
			transition: .3 all;

			.attorney-background-img {
				transform: scale(1.1);
			}

			.attorney-label {
				h3 {
					color: var(--yost-beige);
				}
				h4 {
					color: white;
				}
			}
			
		}
	}

}

/* ATTORNEY GRID */
.acf-section-attorney_grid {

	padding: 30px 0px;

	&.attorney-grid-dark-mode {
		background: var(--yost-blue);
		color: white;
	}

	.attorney-grid {
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr 1fr; 
		grid-template-rows: 1fr 1fr; 
		gap: 15px; 

		.badge-30years {
			width: 100%;
			height: 350px;
			background-position: center bottom;
		}

		.attorney-grid-item {
			width: 100%;
			height: 350px;
			display: flex;
			position: relative;
			align-items: flex-end;
			justify-content: center;
			transition: .3s all;
			position: relative;
			text-decoration: none;

			.attorney-background-img {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: top center;
				width: 100%;
				height: 100%;
				filter: grayscale(1);
				position: absolute;
				top: 0;
				left:0;
				z-index:0;
				transition: .3s all;
			}

			&:hover {

				h3 {
					color: var(--yost-beige) !important;
				}
				h4 {
					color: white !important;
				}

				.attorney-background-img {
					filter: grayscale(0);
				}
			}

			.attorney-grid-content {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 1;
				display: flex;
				align-items: flex-end;

				.attorney-label {
					width: 100%;
					padding: 5px 10px;
					background-color: var(--yost-blue);
					margin-bottom: 10px;

					h3 {
						color: white;
						text-align: left;
						font-size: 1.2em;	
						margin: 0;
						padding: 0;
						transition: .3s all;
					}

					h4 {
						color: var(--yost-beige);
						font-size: 1em;
						margin:  0;
						padding: 0;
						transition: .4s all;
					}
				}
				
			}

			
		}
	}
}

.attorney-awards {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-evenly;
	flex-wrap:wrap;
	margin-bottom: 20px;

	.attorney-award {
		width: 125px;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		height: 125px;
		margin: 0px 15px;
	}
}

/* SINGLE ATTORNEY */
.single-attorney-main {

	margin-top: 25px;

	.attorney-title {
		margin-bottom: 25px;

		h1 {
			color: var(--yost-blue);
			margin-bottom: 0px;
			padding-bottom: 0px;
			text-transform: uppercase;
		}
		h3 {
			color: var(--yost-beige);
		}
	}

	.single-attorney-top {
		margin-bottom: 0px;
	}

	.attorney-right {
			
		.attorney-quote {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;

			&:before {
				content: "";
			    display: block;
			    width: 83px;
			    height: 68px;
			    position: relative;
			    background-image: url("../images/quote.png");
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: contain;
			    margin-bottom: 15px;
			}

			blockquote {
				font-size: 1.2em;
				color: var(--yost-grayblue);
				text-align: left;
				padding: 10px 0px;
				margin: 10px 0px;
				border-top: 14px solid #d0d4de;
				border-bottom: 14px solid #d0d4de;
			}
		}
	}
	.attorney-left {
	
		.attorney-image {
			height: 400px;
			overflow-y:hidden;
		}

		a.email {
			color: rgba(23,44,91,.75);
			font-size: 1.05rem;
			font-weight: 400;
			text-transform: uppercase;
			line-height: 1;
			display: inline-block;
			margin-bottom: 0px;
			margin-left: 8px;
			transition: all .6s ease;
			position: relative;
			text-decoration: none;
			margin-top: 10px;
		}
	
	}

	.single-attorney-bottom {
		.attorney-characteristics {
			h3 {
				text-transform: uppercase;
				font-size: 1.5em;
				color: var(--yost-blue);
			}
			ul {
				padding-left: 10px;
				margin-left: 15px;

				li {
					padding: 5px 5px;
				}
			}
		}
	}

}




/* AWARDS */
.container-fluid.awards {
	background: white;

	.awards-container {
		height: 175px;
		margin: 0 auto;
		display: flex;
		justify-content: center;

		.award-item {
			width: calc(90%/5);
			height: 100%;
			padding: 25px;

			.award-item-inner {
				width: 100%;
				height: 100%;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
	}
}

/* PRACTICE AREAS */
.acf-section-practice_areas {

	background: var(--yost-blue);
	padding: 25px 0px;

	h2 {
		color: white;
		font-weight: 100;
	}
	 
	 .practice-areas-grid {
		  display: grid; 
		  grid-template-columns: 1fr 1fr 1fr 1fr; 
		  grid-template-rows: 1fr 1fr; 
		  gap: 0px; 
		  grid-template-areas: 
		    ". . . ."
		    ". . . ."; 

		    .practice-area-item {
				border: 2px solid white;
		    	min-height: 350px;
				max-height: 350px;
		    	width: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				display: flex;
				align-items: flex-end;
				justify-content: center;
				padding:0;
				transition: .3s all;
				position: relative;
				text-decoration: none;

				h3 {
					z-index: 1;
					color: white;
					min-height: 50px;
					display: flex;
					align-items: center;
					justify-content: center;
					font-weight: normal;
					text-transform: uppercase;
					text-align: center;
					padding: 5px;
					font-size: 1em;
					width: 100%;
					background: var(--yost-blue);
					margin-bottom: 0px;
				}

				.practice-area-overlay {
					background: rgba(15,40,90, 0);
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: 0;
					transition: .3s all;
				}

				&:hover .practice-area-overlay {
					background: rgba(15,40,90, 0.75);
				}
			}
	}
}

.news-results-split-section .split-section-inner>div:last-child {
	background: #f1f1f1;
	padding: 25px;
}

@media(max-width:1400px){
	.attorney-grid { grid-template-columns: repeat(3, 1fr) !important; }
}

@media(max-width:990px){
	.attorney-grid { grid-template-columns: repeat(2, 1fr) !important; }
}

@media(max-width: 776px){

		.acf-section-practice_areas {
			.practice-areas-grid {
				display: flex;
				flex-direction: column;
				gap: 0;
			}
		}

		.acf-section-attorney_grid {

			.attorney-grid {
				display: flex;
				flex-direction: column;
				gap: 0;

				.attorney-grid-item {
					width: 100%;
				}
			}
		}

		.acf-section-results_slider {
			.results-card {
				padding: 0 !important;
				margin: 0 !important;

				.results-card-inner {
					margin: 0 !important;
					padding: 25px !important;	
				}
			}
			.results-extra {
				margin: 0 !important;
			}
		}

		.acf-section-split_section {
			.split-section-post-list {
				.post-list-item {
					display: block !important;
					.post-list-image {
						width: 100%;
						height: 250px;
						margin-bottom: 15px;
					}
				}
			}

			.btn-view-all {
				width: 100% !important;
			}
		}

	.awards-container {
		
		height: auto !important;

		.award-item {
			
			height: 250px !important;
			width: 100% !important;
			.award-item-inner {
				height: 100%;
			}
		}
	}

	.attorney-title {
		margin-top: 25px;
	}
	.attorney-grid {
		.attorney-grid-item {
			height: 80vh !important;
		}
	}
	

		

}

	