.sidebar-content-area form {
	padding: 25px !important;
}
.sidebar-content-area form label,
.sidebar-content-area form h3,
.sidebar-content-area form p {
	color: white !important;
}
.frm-fluent-form {
    background-color: #0f285a !important;
    
    padding: 25px;
    
    input,textarea, select {
        border-radius: 0px !important;
    }

    label {
        font-weight: 100 !important;
        color: white;
    }
}

.acf-section-full_width_callout form.fluent-form {
    padding-top: 0px;
    padding-bottom: 0px;
}

.page-template-template-home .frm-fluent-form {

    padding: 0px;

	.form-header {
		padding: 0px 25px;
		text-align: center;

		h3.form-title {
			font-size: 2.5em;
			font-weight: 100;
			text-align: center;
		}
	}
}

.footer-form {
    background: var(--yost-blue);
    color: white;

    .fluentform {

        form {
            padding: 0px 10vw;
        }
        
    }

    .form-header {
        text-align: center;
        width: 100%;
        margin: 25px 0px;

        .form-title {
            font-size: 2.2em !important;
            text-transform: uppercase;
        }
    }
}