
body,html {overflow-x: hidden; scroll-behavior: smooth;}
body {
	margin: 0 !important; 
}

body.logged-in header#masthead {
	margin-top:32px;
} 

.btn {
	transition: .3s all;
}

.btn-primary {
	color: white !important;
	background: var(--yost-blue);
	border-radius: 0px;
}